<% if logged_in? %>
    <form method="POST" action="<%= session_url %>">
      <%= auth_token %>
      <%= rails_delete %>
      <button>Log Out</button>
    </form>

<% else %>
    <a href="<%= new_session_url %>" >Log In</a>
    or
    <a href="<%= new_user_url  %>" > Log Up </a>
<% end %>
